.playerhand {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    text-align: center;
    color: rgb(224, 224, 224);
    animation: fade 1s linear;
}

@media screen and (max-width: 400px) {
    .playerhand {
        padding: 0.2rem;
        height: 100px;
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}