.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    margin: auto;
}

.board img {
    border-radius: 8px;
    border: rgb(56, 56, 56) 1px solid;
    margin: auto;
    width: 56px;
    height: 80px;
    max-height: 100px;
    animation: fade 0.2s linear;
}

.board.kitty {
    height: auto;
}

.upper {
    margin-right: auto;
    margin-left: auto;
    height: 33%;
}

.middle {
    display: flex;
    flex-direction: row;
    height: 33%;
}

.lower {
    margin-right: auto;
    margin-left: auto;
    height: 33%;
}

.placeholder {
    text-align: center;
    font-size: x-large;
    overflow-wrap: break-word;
    height: 80px;
    width: 56px;
    max-width: 60px;
}

.board small {
    font-size: xx-small;
}

@media screen and (max-width: 400px) {
    .card {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}