.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.board.kitty {
    height: auto;
}

.upper {
    margin-right: auto;
    margin-left: auto;
}

.middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lower {
    margin-right: auto;
    margin-left: auto;
}

.placeholder {
    width: 56px;
    height: 80px;
    text-align: center;
    font-size: x-large;
    overflow-wrap: break-word;
}

.board small {
    font-size: xx-small;
}

@media screen and (max-width: 400px) {
    .card {
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}