<div class="container pb-3">
  <div class="pb-2">
    <textarea class="form-control" id="chatbox" name="chatbox" rows="6"></textarea>
  </div>
  <div class="pb-2">
    <textarea class="form-control" id="chatinput" name="chatinput" rows="1"></textarea>
  </div>
  <div class="d-grid pb-5">
    <button class="btn btn-secondary" id="submitchat" type="button" name="button">Send message</button>
  </div>
</div>
