<div class="container pb-3">
<div class="d-grid">
  <button id="toggle-onlinebar" class="btn btn-outline-secondary btn-sm" type="button" name="button">Toggle Status</button>
</div>
  <div id="onlinebar" class="">
  <table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Player 1</th>
      <th scope="col">Player 2</th>
      <th scope="col">Player 3</th>
      <th scope="col">Player 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Status:</th>
      <td class="" id="<%= @room.player1_id %>-status"></td>

      <% if @room.player2_id != 0 %>
      <td class="" id="<%= @room.player2_id %>-status"></td>
      <% else %>
      <td id="0-status">CPU</td>
      <% end %>

      <% if @room.player3_id != 0 %>
      <td class="" id="<%= @room.player3_id %>-status"></td>
      <% else %>
      <td id="0-status">CPU</td>
      <% end %>

      <% if @room.player4_id != 0 %>
      <td class="" id="<%= @room.player4_id %>-status"></td>
      <% else %>
      <td id="0-status">CPU</td>
      <% end %>
    </tr>
    <tr>
      <th scope="row">Dealer:</th>
      <td id="p1-dealer"></td>
      <td id="p2-dealer"></td>
      <td id="p3-dealer"></td>
      <td id="p4-dealer"></td>
    </tr>
    <tr>
      <th scope="row">Order:</th>
      <td id="p1-order"></td>
      <td id="p2-order"></td>
      <td id="p3-order"></td>
      <td id="p4-order"></td>
    </tr>
    <tr>
      <th scope="row">Tricks:</th>
      <td id="p1-tricks"></td>
      <td id="p2-tricks"></td>
      <td id="p3-tricks"></td>
      <td id="p4-tricks"></td>
    </tr>
    <tr>
      <th scope="row">Score:</th>
      <td id="p1-score"></td>
      <td id="p2-score"></td>
      <td id="p3-score"></td>
      <td id="p4-score"></td>
    </tr>
  </tbody>
</table>
</div>
</div>
