
<div class="container pb-2">
  <h3></h3>
<img id="p1-played-card" src="" alt="" class="img-fluid rounded mx-auto d-block">
<img id="p2-played-card" src="" alt="" class="img-fluid rounded mx-auto d-block">
<img id="p3-played-card" src="" alt="" class="img-fluid rounded mx-auto d-block">
<img id="p4-played-card" src="" alt="" class="img-fluid rounded mx-auto d-block">
</div>

<div id="turnup" class="continer pb-1">
  <h3>Kitty:</h3>
  <img id="turnup-card" src="" alt="" class="img-thumbnail">
</div>

<div class="container pb-1">
  <h5 id="gameinfo"></h5>
</div>

<div id="hand" class="container pb-3">
  <h3>My Hand:</h3>
  <img id="p1-card0" src="" class="img-thumbnail" alt="">
  <img id="p1-card1" src="" class="img-thumbnail" alt="">
  <img id="p1-card2" src="" class="img-thumbnail" alt="">
  <img id="p1-card3" src="" class="img-thumbnail" alt="">
  <img id="p1-card4" src="" class="img-thumbnail" alt="">
</div>
