<div id='modal'></div>

<%= react_component('App',
{
    username: current_user.username,
    roomId: @room.id, userId: current_user.id,
    playerNo: 
        {
            @room.player1_id => "p1",
            @room.player2_id => "p2",
            @room.player3_id => "p3",
            @room.player4_id => "p4"
        }[current_user.id],
    playerNames: 
    {
        "p1" => @player1_username,
        "p2" => @player2_username,
        "p3" => @player3_username,
        "p4" => @player4_username}
},{}) %>

