.card {
    background: rgb(116, 116, 116);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    transition: all 0.5s;
    user-select: none;
}

.form {
    padding: 1rem;
    margin-bottom: 1rem !important;
    max-width: 600px;
    opacity: 0;
    animation: slideIn 1s forwards;
    z-index: 10;
}

.form-animation-delay {
    animation-delay: 1.8s;
    animation-duration: 1.5s;
}

.form-inner {
    padding: 1rem;
    margin: 0;
    background: rgb(219, 219, 219);
    border-radius: 5px;
    width: 100%;
}

.card.highlight {
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
    animation: pulse 2s ease-in-out infinite alternate;
}

.chat-box.highlight {
    -webkit-animation: pulse 2s ease-in-out infinite alternate;
    animation: pulse 2s ease-in-out infinite alternate;
}

.gamestart {
    padding: 0.65rem;
}

.inner {
    flex: 1;
    margin-bottom: 0.2rem;
    background: rgb(219, 219, 219);
    border-radius: 5px;
    width: 100%;
}

.kitty {
    width: fit-content;
    background: rgb(219, 219, 219);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: center;
}

.kitty img {
    border-radius: 8px;
    border: rgb(56, 56, 56) 1px solid;
    margin: auto;
    width: 20vw;
    max-width: 80px;
    height: auto;
}

.boardcard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(219, 219, 219);
    width: auto;
    padding: 0.25rem;
    opacity: 1;
    animation: fade .5s linear;
}

.boardcard img {
    border-radius: 8px;
    border: rgb(56, 56, 56) 1px solid;
    margin: auto;
    width: auto;
    height: 80px;
    animation: fade 0.2s linear;
}

.boardcard.left {
    transform: rotate(90deg);
}

.boardcard.right {
    transform: rotate(-90deg);
}

.gametelop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.board {
    position: absolute;
    top: 21vh;
    left: 0;
    right: 0;
    height: 47vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.hand {
    position: absolute;
    top: 69vh;
    left: 0;
    right: 0;
    height: 19vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.buttons {
    position: absolute;
    top: 89vh;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    animation: fade 0.5s linear;
}

.chat-box {
    transition: none;
}

.gamecard {
    display: flex;
    justify-content: center;
    align-content: center;
    background: rgb(219, 219, 219);
    width: fit-content;
    height: fit-content;
    padding: 0.25rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    transition: all 0.2s;
    margin-right: auto;
    margin-left: auto;
}

.gamecard img {
    border: rgb(56, 56, 56) 1px solid;
    border-radius: 8px;
    margin: auto;
    width: auto;
    height: auto;
    cursor: pointer;
}

.gamecard:hover {
    transform: translateY(-0.5rem);
}

@media screen and (min-width: 1024px) {
    .chat-box {
        width: 29%;
        margin-top: 0.5rem !important;
        height: fit-content;
    }
    .gametelop {
        position: relative;
        top: 0;
    }
    .board {
        position: relative;
        top: 0;
    }
    .hand {
        position: relative;
        top: 0;
    }
    .buttons {
        position: relative;
        top: 0;
    }
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(6rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes pulse {
    0% {
        background: rgb(116, 116, 116);
    }
    50% {
        background: rgb(52, 199, 89);
    }
    100% {
        background: rgb(116, 116, 116);
    }
}

@keyframes pulse {
    0% {
        background: rgb(116, 116, 116);
    }
    50% {
        background: rgb(52, 199, 89);
    }
    100% {
        background: rgb(116, 116, 116);
    }
}

@media screen and (max-width: 400px) {
    .card {
        margin-top: 0.15rem;
        margin-bottom: 0.15rem;
        width: 95%;
    }
    .gamecard {
        padding: 0.15rem;
        margin: 0.1rem;
    }
    .kitty {
        width: fit-content;
    }
    .boardcard {
        width: auto;
    }
    .inner {
        width: 100%;
    }
}