.gamecard {
    border: rgb(0, 0, 0) 1px solid;
    border-radius: 8px;
    margin: auto;
    overflow: hidden;
    width: auto;
    height: auto;
    cursor: pointer;
    box-shadow: 0 0 0 3px rgb(219, 219, 219), inset 0 0 3px 3px rgba(0, 0, 0, 0.452);
}

.gamecard:hover {
    transform: translateY(-0.5rem);
}

.blurred {
    filter: blur(5px) grayscale(100%);
}

@media screen and (max-width: 500px) {
    .gamecard {
        width: 15vw;
        transform: none !important;
    }
}