.input {
    background: white;
    border: white 1px solid;
    color: black;
    transition: all 0.3s;
    padding-left: 0.25rem;
}

.input:focus {
    outline: none;
}

.chat-input {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 80%;
}

.invalid {
    background-color: rgb(255, 218, 218);
    border-color: rgb(255, 108, 108);
}