<div class="container text-center mt-3 mb-4">
  <h1>Welcome to Euchre on Rails!</h1>

</div>

<div class="container mb-4">
  <div class="text-center">
  <div class="btn-group d-flex" role="group">
    <a href="/login" class="btn btn-secondary btn-lg">Login</a>
    <a href="/users/new" class="btn btn-secondary btn-lg">Register</a>
  </div>
  </div>
</div>


<div class="container mb-3">
  <ul class="list-group list-group-numbered">
    <% @updates.each do |update|%>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold"><%= update.created_at %></div>
        <%= update.text %>
      </div>
    </li>
    <% end %>
</ul>
</div>
