.text {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0.25rem;
    padding: 0.5rem;
    background: white;
    border: white 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 200px;
    overflow-y: auto;
}

.text li {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    list-style-type: none;
}

@media screen and (min-width:1024px) {
    .text {
        height: 80%;
        max-height: 600px;
        overflow-y: auto;
    }
}