.chat-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.3s;
}