.banner {
    width: 100%;
    height: 100px;
    background: rgb(77, 77, 77);
    color: white;
    margin-bottom: 2rem;
    padding: 1rem;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.164);
}

.banner h1 {
    text-align: center;
}

.welcome {
    animation: fade 1s forwards;
    animation-delay: 0;
}

.rails {
    opacity: 0;
    animation: fade 1s forwards;
    animation-delay: 1s;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form input {
    margin-bottom: 1rem;
    border: 1px solid rgb(77, 77, 77);
    border-radius: 8px;
    width: 100%;
    height: 40px;
}

.form label {
    color: black;
}

.form p {
    color: black;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    color: black;
}

.register p {
    text-align: center;
    margin-bottom: 0.25rem;
}

.register button {
    height: 35px;
    width: 40vw;
    max-width: 150px;
    margin: auto;
}

.button-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 2rem;
}

.button-bar button {
    height: 35px;
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}