.kitty {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.kitty h3 {
    margin: 0.25rem;
}

@media screen and (max-width: 400px) {
    .kitty h3 {
        font-size: medium;
    }
}