.bump button {
    animation: bump 500ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.025);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}