.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.form button {
    padding-left: 1rem;
    padding-right: 1rem;
}

.banner {
    width: 100%;
    height: 100px;
    background: rgb(77, 77, 77);
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
}