.updates {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-y: scroll;
    border: 1px solid grey;
    border-radius: 8px;
    animation: fade 1s linear;
    -webkit-animation: fade 1s linear;
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}